.rahul{  
    margin: 0;
    padding: 0;
    background-image: url("../assets/laptop.png");
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    height: 650px;
    width: 100%;
    }