<div class="container-fluid">

    <div class="container">
        <div class="row">

            <img src="../../assets/demo.png" class="img-thumbnail">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <form class="boder-border dark">
                                <div class="row">
                                    <div class="col-text-center p-2 mb-3 bg-light">
                                        <span class="fs-3">Register</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-3">
                                        <input type="text" class="form-control" id="firstname" placeholder="First_Name">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-3">
                                        <input type="text" class="form-control" id="lastname" placeholder="Last_Name">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-3">
                                        <input type="email" class="form-control" id="email" placeholder="Email">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col mb-3">
                                        <input type="text" class="form-control" id="number" placeholder="(541)754-3010">
                                    </div>
                                </div>

                                <label for="customRange1" class="form-label">age</label>
                                <input type="range" class="form-range" id="customRange1">

                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                        id="dropdownMenuButton">State</button>
                                </div>

                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                        id="dropdownMenuButton">country</button>
                                </div>

                                <div class="row">
                                    <div class="col mb-3">
                                        <input type="text" class="form-control" id="address" placeholder="Address">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Tags">
                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Subscribe for newsletter</label>
                                </div>
                                <button type="clear" class="btn btn-light">Cancel</button>
                                <button type="submit" class="btn btn-primary">Submit</button>

                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>